# Ref:
# - https://pixi.sh/latest/reference/pixi_manifest/
[workspace]
channels = [
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge",
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch",
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch-lts",
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch-test",
	"conda-forge",
	"pytorch",
	"pytorch-test",
]
platforms = ["linux-64", "win-64"]
name = "ubears"
version = "0.2.4"
authors = [
	"UBeaRLy <ubearly@outlook.com>",
]
description = "A project with some out-of-box utils for data analysis."
license = "Apache-2.0"
license-file = "license.txt"
readme = "README.md"
homepage = "https://github.com/xyy15926/aki7proj"
repository = "https://github.com/xyy15926/aki7proj"
documentation = "https://github.com/xyy15926/aki7proj"
channel-priority = "strict"
requires-pixi = ">=0.55"
# Enable Pixi's preview features.
preview = ["pixi-build"]

[pypi-options]
index-url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
# `extra-index-urls` has higher priority than `index-url`.
extra-index-urls = [
	# "https://mirrors.aliyun.com/pytorch-wheels/xpu/",
	# "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple",
]
# Or true/false for all
no-build-isolation = []
no-build = []
no-binary = []

[system-requirements]
libc = "2.28"
# cuda = "12"

[dependencies]
# Pixi will always try to install the latest version of python and then
# try to solve the dependencies without try to downgrade the version of
# python(ABI).
# So the python is fixed to 3.12 for `torch-directml` here.
python				= "==3.12"
numpy				= ">=1.2, <=2.4"
scipy				= ">=1.10, <=1.16"

[feature.dev.pypi-dependencies]
ipython				= "*"
ruff				= "*"
pytest				= "*"
setuptools			= "*"
pip					= "*"
build				= ">=1.3.0, <2"
twine				= ">=6.2.0, <7"
# cx-Oracle			= "*"

[feature.this.pypi-dependencies]
ubears				= { path = ".", editable = true, extras = ["extra", "torch"] }

[feature.basic.pypi-dependencies]
pandas				= ">=1.4, <=2.4"
openpyxl			= ">=3.0"
tqdm				= ">=4.0"
SQLAlchemy			= ">=1.4"
chinese_calendar	= "*"
pdfplumber			= "*"
jieba				= "*"

[feature.extra.pypi-dependencies]
scikit-learn		= ">=1.1, <=1.8"
pyecharts			= ">=2.0"
xgboost				= "*"
TA-Lib				= "*"
numpy_financial		= ">=1.0.0, <2"
PyMySQL				= "*"
networkx			= "*"

# [feature.torch.pypi-dependencies]
# torch				= ">=2.8"
# torchvision			= "*"
# tensorboard			= "*"

# [feature.torch.pypi-options]
# extra-index-urls = [
# 	"https://mirrors.aliyun.com/pytorch-wheels/xpu/",
# ]
# index-strategy = "unsafe-first-match"

[feature.torch-directml.pypi-dependencies]
torch				= ">=2.0"
torchvision			= "*"
tensorboard			= "*"
torch-directml		= ">=0.2.5.dev"

[environments.default]
features = [ "dev", "this", "basic", "extra", "torch-directml" ]
solve-group = "dev"
# You may barely set `no-default-feature` as the package itself will be added
# up to the dependencies to the environment in most cases.
no-default-feature = false

[environments.prod-test]
features = [ "dev", "this" ]
solve-group = "prod-test"
no-default-feature = false

# Ref
# - https://pixi.sh/latest/workspace/advanced_tasks/
# - https://github.com/prefix-dev/pixi/issues/4350
# 1. Tasks with no-prefix is set for default feature only.
# 2. Tasks has to be redefined explicitly for feature of the environment with
#   `no-default-feature` set.
[tasks.test-all]
depends-on = [
	{ task = "test", environment = "default" },
	{ task = "test", environment = "prod-test" },
]

[feature.dev.tasks]
test = { cmd = "pytest" }
pypi-build = { cmd = "python -m build" }
pypi-check = { cmd = "python -m twine check dist/*" }
# Ref: https://zhuanlan.zhihu.com/p/682004873
pypi-uptest = { cmd = "python -m twine upload --repository testpypi dist/*" }
pypi-upload = { cmd = "python -m twine upload dist/*" }

[activation]
scripts = []
env = {}

# Ref
# - https://pixi.sh/latest/build/getting_started/
# - https://pixi.sh/latest/build/dependency_types/
# - https://pixi.sh/latest/build/python/
# - https://pixi.sh/latest/build/backends/
# - https://prefix-dev.github.io/pixi-build-backends/backends/pixi-build-python/
[package]
# Inherit from the workspace manifest.
name			= { workspace = true }
version			= { workspace = true }
authors			= { workspace = true }
description		= { workspace = true }
documentation	= { workspace = true }
homepage		= { workspace = true }
license			= { workspace = true }
license-file	= { workspace = true }
readme			= { workspace = true }
repository		= { workspace = true }

[package.build]
source = { path = "." }

[package.build.backend]
# `pixi-build-python` turns Python package into a conda package.
name = "pixi-build-python"
version = "*"
# `channels` here will be overriden by `workspace.channels`.
channels = [
	"conda-forge",
	"pytorch",
	"pytorch-test",
]

[package.build.config]
noarch = true
env = {}
# ignore-pyproject-manifest = true

[package.build-dependencies]
# Dependencies for build environment when building.
# 1. It seems that `setuptools` is not compatiable with the `pixi`.
#   So `hatchling` is used to package.
# 2. The build metadata for python package is in 'pyproject.toml`.
python				= ">=3.12"
pip					= "*"
hatchling			= "*"
# setuptools			= ">=60.0"
# cmake = "*"
# git = "*"

[package.host-dependencies]
# Dependecies for host when building.
python				= ">=3.9"
hatchling			= "*"

[package.run-dependencies]
python				= ">=3.12"
numpy				= ">=1.2, <=2.4"
scipy				= ">=1.10, <=1.16"
pandas				= ">=1.4, <=2.4"
openpyxl			= ">=3.0"
tqdm				= ">=4.0"
SQLAlchemy			= ">=1.4"
chinese_calendar	= "*"
pdfplumber			= "*"
jieba				= "*"
# scikit-learn		= ">=1.1, <=1.8"
# pyecharts			= ">=2.0"
# xgboost				= "*"
# TA-Lib				= "*"
# numpy_financial		= "*"
# PyMySQL				= "*"
# network				= "*"
# pytorch				= ">=2.0"
# torchvision			= "*"
# tensorboard			= "*"
# torch-directml		= ">=0.2.5.dev"
