# Ref:
# - https://pixi.sh/latest/reference/pixi_manifest/
[workspace]
channels = [
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge",
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch",
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch-lts",
	"https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch-test",
	"conda-forge",
	"pytorch",
	"pytorch-test",
]
platforms = ["linux-64", "win-64"]
name = "ubears"
version = "0.2.4"
authors = [
	"UBeaRLy <ubearly@outlook.com>",
]
description = "A project with some out-of-box utils for data analysis."
license = "Apache-2.0"
license-file = "license.txt"
readme = "README.md"
homepage = "https://github.com/xyy15926/aki7proj"
repository = "https://github.com/xyy15926/aki7proj"
documentation = "https://github.com/xyy15926/aki7proj"
channel-priority = "strict"
requires-pixi = ">=0.55"
# Enable Pixi's preview features.
preview = ["pixi-build"]

[pypi-options]
index-url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
extra-index-urls = [
	"https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple",
	"https://mirrors.aliyun.com/pypi/simple",
	"https://pypi.org/simple",
]
# Or true/false for all
no-build-isolation = []
no-build = []
no-binary = []

[system-requirements]
libc = "2.28"
# cuda = "12"

[dependencies]
python				= ">=3.12"
numpy				= ">=1.2, <=2.4"
pandas				= ">=1.4, <=2.4"
scipy				= ">=1.10, <=1.16"
scikit-learn		= ">=1.1, <=1.8"
SQLAlchemy			= ">=1.4"
openpyxl			= ">=3.0"
tqdm				= ">=4.0"
jieba				= "*"
pyecharts			= ">=2.0"

[pypi-dependencies]
ubears				= { path = ".", editable = true }
chinese_calendar	= "*"

[target.linux-64.dependencies]
pdfplumber			= "*"

[feature.dev.dependencies]
PyMySQL				= "*"
ipython				= "*"
ruff				= "*"
pytest				= "*"
setuptools			= "*"
pip					= "*"
# streamlit			= "*"

[feature.dev.pypi-dependencies]
build				= ">=1.3.0, <2"
twine				= ">=6.2.0, <7"
# cx-Oracle			= "*"

[feature.fin.dependencies]
networkx			= "*"
xgboost				= "*"
TA-Lib				= "*"

[feature.fin.pypi-dependencies]
numpy_financial		= ">=1.0.0, <2"

[feature.dml.dependencies]
# The names for PyTorch in conda and PyPA, `pytorch` and `torch`, are different.
# pytorch				= "*"

[feature.dml.pypi-dependencies]
torch				= ">=2.0"
tensorboard			= "*"
torchvision			= "*"
torch-directml		= ">=0.2.5.dev"

[feature.dml-latest.pypi-dependencies]
torch				= ">=2.8"
torchvision			= "*"

[environments.default]
features = [ "dev", "fin", "dml" ]
solve-group = "dev"
# You may barely set `no-default-feature` as the package itself will be added
# up to the dependencies to the environment in most cases.
no-default-feature = false

[environments.latest]
features = [ "dev", "dml-latest" ]
solve-group = "latest"
no-default-feature = false

# Ref
# - https://pixi.sh/latest/workspace/advanced_tasks/
# - https://github.com/prefix-dev/pixi/issues/4350
# 1. Tasks with no-prefix is set for default feature only.
# 2. Tasks has to be redefined explicitly for feature of the environment with
#   `no-default-feature` set.
[feature.dev.tasks]
test = { cmd = "pytest" }
pypi-build = { cmd = "python -m build", depends-on = ["test-all"] }
pypi-check = { cmd = "python -m twine check dist/*", depends-on = ["pypi-build"] }
pypi-upload = { cmd = "python -m twine check upload/*", depends-on = ["pypi-check"] }

[tasks.test-all]
depends-on = [
	{ task = "test", environment = "default" },
	{ task = "test", environment = "latest" },
]

[activation]
scripts = []
env = {}

# Ref
# - https://pixi.sh/latest/build/getting_started/
# - https://pixi.sh/latest/build/dependency_types/
# - https://pixi.sh/latest/build/python/
# - https://pixi.sh/latest/build/backends/
# - https://prefix-dev.github.io/pixi-build-backends/backends/pixi-build-python/
[package]
# Inherit from the workspace manifest.
name			= { workspace = true }
version			= { workspace = true }
authors			= { workspace = true }
description		= { workspace = true }
documentation	= { workspace = true }
homepage		= { workspace = true }
license			= { workspace = true }
license-file	= { workspace = true }
readme			= { workspace = true }
repository		= { workspace = true }

[package.build]
source = { path = "." }

[package.build.backend]
name = "pixi-build-python"
version = "*"
# `channels` here will be overriden by `workspace.channels`.
channels = [
	"conda-forge",
	"pytorch",
	"pytorch-test",
]

[package.build.config]
noarch = true
env = {}
# ignore-pyproject-manifest = true

[package.build-dependencies]
# Dependecies for build environment when building.
python				= ">=3.12"
pip					= "*"
# cmake = "*"
# git = "*"

[package.host-dependencies]
# Dependecies for host when building.
python				= ">=3.9"
hatchling			= "*"

[package.run-dependencies]
python				= ">=3.9"
numpy				= ">=1.2, <=2.4"
pandas				= ">=1.4, <=2.4"
scipy				= ">=1.10, <=1.16"
scikit-learn		= ">=1.1, <=1.8"
SQLAlchemy			= ">=1.4"
openpyxl			= ">=3.0"
jieba				= "*"
pdfplumber			= "*"
pytorch				= "*"
tqdm				= ">=4.0"
pyecharts			= ">=2.0"
numpy_financial		= "*"
chinese_calendar	= "*"
